* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(211, 211, 211, 0.277);
}

.header-container .intestazione {
    background-color: white;
    padding: 20px;
}

h1 {
    display: inline-block;
    font-size: 25px;
  }

.main-container {
    background-color: white;
    margin: 50px 100px;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
}

.button-style1 {
    background-color:darkcyan;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    color: white;
}
.button-style2 {
    background-color: rgba(211, 211, 211, 0.837);
    border-radius: 5px;
    height: 30px;
    width: 100px;
    color: rgb(128, 128, 128);
}